.school, .organization, .certificate {
    margin: 50px;
}

.certificate img {
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    main h1 {
    text-align: center;
    }

    .certificate img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    main h1 {
    text-align: center;
    }
    
    .certificate img {
        width: 100%;
        height: 100%;
    }
}